
<li class="camera">
    <div>
         <h3>
             {{name}}
         </h3>
         <div>
            {{model}}
         </div>
         <div class="resolution">
            {{resolution}}
         </div>
        <div class="ip" >
           {{ip.octetOne}}.{{ip.octetTwo}}.{{ip.octetThree}}.{{ip.octetFour}}
        </div>
    </div>
    <div>
      <div>
         <button class="edit">Edit</button> 
      </div>
      <div>
         <button class="delete" (click)="delete()">Delete</button>
         </div>
    </div>
 </li>
